body {
 background-color: white;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 margin-left: 30%;
 margin-right: 30%;
}

button {
    margin-left: 30%;
    margin-right: 30%;
}